* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  padding: 20px;
  font-weight: 700;
  font-size: clamp(14px, 1.3vw, 18px);
}
h2{
    padding: 20px;
}

img{
    padding-bottom: 20px;
}
body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 20px;
    display: flex;
    background: #000;
    justify-content: center;
    height: 100vh;
}

body > .container {
  max-width: 1300px;
  max-height: 1000px;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: 100%;

  &:is(.column) {
    flex-direction: column;
  }

  &:is(.card) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    gap: 0;
    position: relative;
    background-color: var(--bg, #ffffff);
  }
  &:is(.only-photo) {
    justify-content:center;
    padding: 0;
    padding-top: 20px;
  }
}

.width-25 {
  width: 25%;
}
.height-25 {
  height: 25%;
}
.height-75 {
  height: 75%;
}
width-75{
    width: 75%;
}
.width-1-3 {
  width: calc(100% / 3);
  min-width: calc(100% / 3);
}
.height-1-3 {
  height: calc(100% / 3);
  min-height: calc(100% / 3);
}

@media (max-width: 800px) {
  .tablet-width-100 {
    width: 100%;
  }
  .tablet-width-50 {
    width: 50%;
  }
  .tablet-column {
    flex-direction: column;
  }
  .container:is(.tablet-row) {
    flex-direction: row;
  }
}

@media (max-width: 500px) {
  .width-75, .width-25, .width-1-3, .tablet-width-100 {
    width: 100%;
  }
  .height-75, .height-25, .height-1-3 {
    height: auto;
    min-height: fit-content;
  }
  .container {
    flex-direction: column;
    height: auto;
  }
  .container:is(.tablet-row) {
    flex-direction: column;
  }
  .container:is(.card) {
    height: fit-content;
    min-height: fit-content;
  }
  p {
    font-size: clamp(14px, 5vw, 40px);
    }
}